.DS_Store
Images/
Sliced/
Originals/
data/
*.txt
*.csv

1.png
1.tiff
angle.jpg
burrito_cat.jpg
burrito_cat_angle.jpg
burrito_cat_grayscale.jpg
burrito_cat_horizontal.jpg
burrito_cat_vertical.jpg
circle.png
csv_writer.py
grayscale.tiff
unblurred.jpg
